.hero-container {
  background: #f6f6f8;
  height: 90vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-container > h1 {
  font-size: 80px;
  margin-top: -5px;
  font-family: "SemiBold";
  color: #3f76bf;
}

.hero-container > p {
  margin-top: -5px;
  font-size: 24px;
}

.hero-btn {
  margin-top: 32px;
}

.hero-btn .btn {
  margin: 6px;
}

@media screen and (max-width: 500px) {
  .hero-container {
    padding: 20px;
  }

  .hero-container > h1 {
    font-size: 65px;
  }
  
  .hero-container > p {
    font-size: 20px;
  }
}