.navbar {
  background: #f6f6f8;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Medium";
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  justify-content: center;
}

.nav-menu {
  list-style: none;
  text-align: center;
  width: 100%;
}

.nav-item {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-link {
  text-decoration: none;
  color: #313131;
}

.nav-link:hover {
  transition: all 0.3s ease-out;
  color: #3f76bf;
  transition: 250ms;
}

@media screen and (max-width: 500px) {
  .nav-menu {
    padding: 0;
  }
  
  .nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }
}