.App {
  background: #f6f6f8;
  font-family: "Regular";
  color: #313131;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 500px) {
  .App {
    text-align: center;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Bold";
  src: local("Poppins-Bold"),
    url("./fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ExtraLight";
  src: local("Poppins-ExtraLight"),
    url("./fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: local("Poppins-Italic"),
    url("./fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Poppins-Light"),
    url("./fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Poppins-Medium"),
    url("./fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"),
    url("./fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Poppins-SemiBold"),
    url("./fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Thin";
  src: local("Poppins-Thin"),
    url("./fonts/Poppins-Thin.ttf") format("truetype");
}
